/* line 7, ../components/sass/styles.scss */
p {
  color: red;
  background-color: yellow; }

/* line 12, ../components/sass/styles.scss */
a {
  color: #333333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
